<h1><%= @post.title %></h1>
<h3><%= @post.summary %></h3>
<% if (@post.summary == nil) %>
  <%= link_to "Create a Post Summary", new_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>